<nav class="navbar navbar-expand-lg navbar-light bg-ligth">
  <div class="container-fluid">
    <img src="/DesafioPokmenons/src/assets/inicie_logo-horizontal 1.png"class="card-img-top" alt="...">
    <!-- <a class="navbar-brand" [routerLink]="['/']">Loja Filmes Dot</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

