.titulo{
  font-family: Numito;
  font-size: 55px;
  color: #2F3E77;
}
.titulo-palavra{
  color: #EA686D;
}

.sub-titulo{
  font-family: Numito;
  font-size: 25px;
  color: #2F3E77;
}
.btn-buscar{
  font-family: Numito;
  font-size: 22px;
  font-style: bold;
  background-color: #EA686D ;
  color: #FFFFFF ;
}

.card-cadastro-title{
  font-family: Numito;
  color: #2F3E77;
  font-size: 22px;
  font-style: bold;
  text-transform: uppercase;
}
.card-cadastro-item{
  font-family: Numito;
  color: #2F3E77;
font-size: 16px;
font-style: bold;
}
