<div class="container-fluid flex-grow-1 container-p-y">
  <div class="card-body">
    <div class="row justify-content-between">

      <div class="col-6 " >
        <div class= "col-12 titulo">
          {{pokemon.name}}
        </div>

        <div class="row justify-content-center codigo">
          <div class="col-4 ">
            Cod: #{{pokemon.id}}
          </div>
          <div class="col-4">
            Tipo:
          </div>
          <div class="col-4">
            <!-- {{pokemon.types.type.name}} -->
          </div>
        </div>

        <div class=" col-12 descricao">
          Descrição:
        </div>

      </div>
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img src="{{pokemon.sprites.front_default}}" class="card-img-top" alt="...">
        </div>
      </div>
    </div>

    <!-- Deveria recarregar os favoritos -->
    <div class="sub-titulo">
      Mais procurados:
      <app-procurado [favoritos]="favoritos"></app-procurado>
    </div>

  </div>
</div>
