<div class="container-fluid flex-grow-1 container-p-y">
  <div class="card-body">
    <div class="row justify-content-between">

      <div class="col-6 " >
        <div class= "col-12 titulo">
          {{pokemon.name}}
        </div>

        <div class="col-12 codigo">
          <div class="col-6 " >
            Cod: #{{pokemon.id}}
          </div>
          <div class="col-3 " >
            Tipo:
          </div>
          <!-- <div class="col-3 " >
            Cod: #{{pokemon.types.type.name}}
          </div> -->
        </div>

        <div class=" col-12 descricao">
          Descrição:
        </div>

      </div>
      <div class="col-6">
        <div class="card" style="width: 18rem;">
          <img src="{{pokemon.sprites.front_default}}" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
