<div class="container-fluid flex-grow-1 container-p-y">
  <div class="card-body">
    <div class="row justify-content-between">
      <div class="col-6">
        <div>
          {{pokemon.name}}

        </div>
        <div>
          Cod: #{{pokemon.id}}
        </div>
        <div>
          Descrição:
        </div>

      </div>
      <div class="col-6">
        <div class="card" style="width: 18rem;">

          <img src="{{pokemon.sprites.back_default}}" class="card-img-top" alt="...">

        </div>
      </div>
    </div>
  </div>
</div>
