.titulo{
  font-family: Numito;
  font-size: 35px;
  color: #233674;
  font-style: bold;
  text-transform: uppercase;
}

.codigo{
  font-family: Numito;
  font-size: 22px;
  color: #233674;
  font-style:normal;
}

.descricao{
  font-family: Numito;
  font-size: 22px;
  color: #233674;
  // font-style: Bold;
}
